{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
<div class="container mx-auto">
    <form{% if name != '' %} name="{{ name }}"{% endif %}
            method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{{ block('attributes') }}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {%- if form_method != method -%}
            <input type="hidden" name="_method" value="{{ method }}"/>
        {%- endif -%}
        {%- endblock form_start -%}

        {%- block form_end -%}
        {%- if not render_rest is defined or render_rest -%}
            {{ form_rest(form) }}
        {%- endif -%}
    </form>
</div>
{%- endblock form_end -%}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="mb-4 md:flex items-center" {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        <div class="w-1/3 font-bold">
            {{- form_label(form) -}}
        </div>
        <div class="w-2/3">
            {{- form_widget(form, widget_attr) -}}
            {{- form_errors(form) -}}
            {{- form_help(form) -}}
        </div>
    </div>
{%- endblock form_row -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}

    {% if attr.class is defined %}
        {% set attr = attr|merge({
            'class': 'border border-gray-500 rounded outline-none focus:border-blue-500 p-1 ' ~ attr.class
        }) %}
    {% else %}
        {% set attr = attr|merge({
            'class': 'border border-gray-500 rounded outline-none focus:border-blue-500 p-1'
        }) %}
    {% endif %}

    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {% if attr.class is defined %}
        {% set attr = attr|merge({
            'class': 'border border-gray-500 rounded outline-none focus:border-blue-500 p-2 ' ~ attr.class
        }) %}
    {% else %}
        {% set attr = attr|merge({
            'class': 'border border-gray-500 rounded outline-none focus:border-blue-500 p-2'
        }) %}
    {% endif %}

    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}

    {% if attr.class is defined %}
        {% set attr = attr|merge({
            'class': 'border border-gray-500 rounded outline-none focus:border-blue-500 p-2 ' ~ attr.class
        }) %}
    {% else %}
        {% set attr = attr|merge({
            'class': 'border border-gray-500 rounded outline-none focus:border-blue-500 px-4 py-2'
        }) %}
    {% endif %}

    {{ block('button_widget') }}
{%- endblock submit_widget -%}
