{% extends 'base.html.twig' %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/Chart.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/Chart.js') }}"></script>
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>
                    <a href="{{ '/src/gitlab.com/YannickFricke/Symfony-5-starter/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a>
                </code>
            </li>
            <li>
                Your template at <code>
                    <a href="{{ '/src/gitlab.com/YannickFricke/Symfony-5-starter/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a>
                </code>
            </li>
        </ul>
    </div>
{% endblock %}
