{% extends 'base.html.twig' %}
{% form_theme registrationForm 'form/tailwind_form_theme.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.agreeTerms) }}

    {{ form_end(registrationForm) }}
{% endblock %}
